  
/* Plugin CSS Styles Start Here */

.wpsa_cf7_checkbox, 
.wpsa_cf7_checkbox label  {
    display: inline-block;
}

.wpsa_cf7_checkbox
{
    padding: 10px 10px;
    text-align: center;
    width: 100%;
}

.wpsa_cf7_checkbox input[type="checkbox"]{
    margin-Left: 5px;
} 

.wpsa_multi_slelect_box {
    display: inline-block;
    width: 400px;
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.wpsa_cf7_checkbox { width: 48%; }
}

